@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #eee;
}
.wrapper{
    max-width: 600px;
    background-color: #fff;
    margin: 200px auto;
    padding: 20px;
    text-align: center;

}
header{
    font-size: 24px;
    margin-bottom: 30px;
}
.inputField{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
#addValue{
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#btn{
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}
#btn:hover{
    background-color: #218838;
}
ul.todolList li{
    background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  align-items: center;
}
/* classlist add */
ul.todolList li.completed{
    text-decoration: line-through;
    color: red;
}
.footer{
    margin-top: 50px;
}
#allClear {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #allClear:hover {
    background-color: #c82333;
  }
.del-btn{
    background: none;
    border: none;
    color: red;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}